* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

nav,
header,
main,
footer {
    display: block;
}

nav {
    display: flex;
    height: 45px;
    background: #f6f6f6;
}

.search {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search i {
    display: block;
    color: #ccc;
    position: absolute;
    left: 12px;
    top: 18px;
}

.search input {
    display: block;
    border: 1px solid #999999;
    border-radius: 5px;
    width: 95%;
    height: 25px;
    box-shadow: 1px 1px 3px #999999;
}

.user {
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user .glyphicon {
    color: #099fde;
    font-size: 18px;
}

.user .my {
    font-size: .86em;
    color: #2eaae0;
}

header a {
    display: block;
    width: 100%;
}

header img {
    width: 100%;
}

section {
    width: 100%;
}

.sec1 ul {
    width: 97%;
    border-radius: 5px;
    margin: 5px auto;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec1 li {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1 li a {
    display: block;
    width: 32px;
    height: 32px;
}

.sec1 li span {
    color: #222;
    font-size: 12px;
}

.sec1 li:nth-child(1) a {
    background: url('./img/jd.png') no-repeat;
    background-size: 32px;
}

.sec1 li:nth-child(2) a {
    background: url('./img/jd.png') 0 -32px no-repeat;
    background-size: 32px;
}

.sec1 li:nth-child(3) a {
    background: url('./img/jd.png') 0 -64px no-repeat;
    background-size: 32px;
}

.sec1 li:nth-child(4) a {
    background: url('./img/jd.png') 0 -96px no-repeat;
    background-size: 32px;
}

.sec1 li:nth-child(5) a {
    background: url('./img/jd.png') 0 -128px no-repeat;
    background-size: 32px;
}

section {
    display: flex;
    height: 100px;
    width: 97%;
    margin: 3px auto;
}

section a {
    color: #fcfff3;
}

.section {
    background: #fa6c54;
    border-radius: 10px 10px 0 0;
}



.left {
    flex: 1;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .hotel {
    width: 100%;
    height: 45px;
    background: url('./img/hotel.png') no-repeat;
    background-size: 120px;
    margin-top: 10px;
}

.left .flight {
    width: 100%;
    height: 45px;
    background: url('./img/flight.png') no-repeat;
    background-size: 120px;
    margin-top: 10px;
}

.left .travel {
    width: 100%;
    height: 45px;
    background: url('./img/travel.png') 0 -30px no-repeat;
    background-size: 120px;
    margin-top: 10px;
}

.right {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}

.right a {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 添加分割线 */

.right a:nth-child(1),
.right a:nth-child(2) {
    border-bottom: 1px solid #fff;
}

.right a:nth-child(3),
.right a:nth-child(1) {
    border-right: 1px solid #fff;
}




/* 中间机票部分 */

.section2 {
    background: #4fa2ed;
}


/* 旅游部分 */

.section3 {
    background: #4bca86;
    border-radius: 0 0 10px 10px;
}


/* wifi电话卡 */

.items ul {
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items li {
    width: 70px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items li a {
    display: block;
    width: 25px;
    height: 25px;
}

.items li span {
    color: #222;
    font-size: 12px;
}

.items li:nth-child(1) a {
    background: url('./img/wifi.png') no-repeat;
    background-size: 24px;
}

.items li:nth-child(2) a {
    background: url('./img/wifi.png') 4px -25px no-repeat;
    background-size: 24px;
}

.items li:nth-child(3) a {
    background: url('./img/wifi.png') 3px -55px no-repeat;
    background-size: 24px;
}

.items li:nth-child(4) a {
    background: url('./img/wifi.png') 2px -278px no-repeat;
    background-size: 24px;
}

.items li:nth-child(5) a {
    background: url('./img/wifi.png') 1px -85px no-repeat;
    background-size: 24px;
}

.items li:nth-child(6) a {
    background: url('./img/wifi.png') 4px -140px no-repeat;
    background-size: 24px;
}

.items li:nth-child(7) a {
    background: url('./img/wifi.png') 1px -170px no-repeat;
    background-size: 24px;
}

.items li:nth-child(8) a {
    background: url('./img/wifi.png') 2px -112px no-repeat;
    background-size: 24px;
}

.items li:nth-child(9) a {
    background: url('./img/wifi.png') 0px -198px no-repeat;
    background-size: 24px;
}

.items li:nth-child(10) a {
    background: url('./img/wifi.png') 4px -245px no-repeat;
    background-size: 24px;
}